.testimonial-container {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-image: url("../../../public/img/logo/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  padding-top: 5rem;
}

.testimonial-container h2 {
  text-shadow: -0.1rem -0.1rem 0.4rem #d9480f, 0.2rem -0.2rem 0.3rem #2b8a3e,
    -0.3rem 0.3rem 0.2rem #c92a2a, 0.4rem 0.4rem 0.1rem #1864ab;
}

.slider-container {
  max-width: 60rem;
  height: 75rem;
  margin: 3rem auto;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-color: #46464620;
  box-shadow: inset -12px -8px 40px #46464620;
  border: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.btn-slide img {
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 2rem;
  transform: translateY(-60%);
}

.prev:hover {
  background-color: #212529;
}

.next {
  top: 50%;
  right: 2rem;
  transform: translateY(-60%);
}

.next:hover {
  background-color: #f03e3e;
}
