* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hero-main {
  background-image: url('./img/hero_rome.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.fun-facts_section img {
  width: 400px;
}
